@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;1,100&display=swap');

header {
    background-color: #2e2e2e;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    padding: 20px;
    justify-content: space-between;
    z-index: 100;
    display: flex;
    align-items: center;
}

#navbar {
    display: flex;
    justify-content: end;
    align-items: center;
    width: 35rem;
}

#navbar a {
    font-size: 1.5rem;
    font-family: 'montserrat';
    font-weight: bold;
    color: #b8b8b8;
    margin-left: 2rem;
    padding: .7rem;
    border: solid 3px #ffffff;
    border-radius: 20px;
    display: flex;
    justify-content: center;
}

#navbar a:hover {
    border-color: #a6d0dd;
    transition: 1s;
    color: #a6d0dd;
}

.logo-dev {    
    width: 11rem;
}

.logo-dev span {
    color: #ee4949;
}

.logo-dev a {
    font-family: 'monospace', 'sans-serif';
    color: #a6d0dd;
    font-size: 1em;
    cursor: pointer;
    width: 1rem;
}

#home {
    background-color: #000000;
    width: 100%;
    height: 53rem;
    display: flex;
}

#self-img {
    width: 35rem;
    height: 40rem;
    border-radius: 5rem;
    margin-top: 10rem;
    margin-left: 3rem;
}

.banner-h1 {
    color: #b8b8b8;
    font-family: sans-serif;
    font-size: 3.5rem;
    margin-top: 10rem;
    margin-left: 2rem;
    display: flex;
}

.banner-p {
    color: #b8b8b8;
    font-family: sans-serif;
    font-size: 2rem;
    margin-top: 10rem;
    margin-left: 10rem;
    display: flex;
    width: 20rem;
}

.banner-btn1 {
    display: flex;
    width: 30rem;
    gap: 2rem;
    margin-top: 5rem;
    margin-left: 5rem;
}

.banner-btn1 .btn {
    color: #b8b8b8;
    background-color: #2e2e2e;
    font-size: 1.5rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 3px;
    border-radius: 2rem;
    width: 15rem;
    height: 4rem;
}

.banner-btn1 .btn:hover {
    transition: .3s;
    border-color: #a6d0dd;
    color: #a6d0dd;
    
}

#text-js {
    font-family: 'montserrat';
    font-size: 2rem;
    font-weight: bold;
    color: #a6d0dd;
    padding: 1rem;
    text-align: center;
    margin-top: 25rem;
    margin-bottom: 20rem;
    width: 40rem;
    margin-left: auto;
    margin-right: auto;
}
